.add-company-form {
    padding: 48px;
    max-width: 511px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    border-radius: var(--border-radius-extra-large) var(--border-radius-small) var(--border-radius-extra-large) var(--border-radius-small);
    background-color: var(--color-zinc-400);

    @include tablet-s {
        max-width: 440px;
    }

    @include mobile {
        padding: 24px 20px;
    }

    &__title {
        text-align: center;

        @include tablet-s {
            font-size: 24px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__input {
        height: 54px;
        padding: 16px;
        background-color: var(--color-white);
        border: 1px solid var(--color-white);
        border-radius: var(--border-radius-extra-large);

        &::placeholder {
            font-size: 16px;
            line-height: 1.4;
            color: var(--color-zinc-400);
        }

        &:focus {
            border: 1px solid var(--color-zinc-500);
        }
    }

    &__button {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.06em;
    }

}