.burger-button {
    width: 48px;
    aspect-ratio: 1;
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        content: "";
        width: 50%;
        height: 2px;
        border-radius: 5px;
        -webkit-box-shadow: 0 -8px, 0 8px;
        box-shadow: 0 -8px, 0 8px;
        background-color: var(--color-zinc-950);
    }
}