.card {
    --card-margin-x: 24px;

    position: relative;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: var(--card-margin-x);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-large);
    transition-duration: var(--transition-duration);

    &--hover-1 {
        @include hover {
            border: 1px solid var(--color-zinc-300);
            background-color: var(--color-zinc-100);
        }
    }

    &--hover-2 {
        @include hover {
            background-color: var(--color-zinc-200);
        }
    }
    
    &--shadow-1 {
        box-shadow: var(--shadow-1);
    }

    &--shadow-2 {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &--transparent {
        background-color: transparent;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 8px;
        font-size: 14px;
        line-height: 1.4;
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 4px;

        &-stars {
            display: flex;
            align-items: center;
            column-gap: 2px;
        }

        &-grade {
            font-weight: 600;
        }
    }

    &__reviews {
        color: var(--color-zinc-600);
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
    }

    &__link {
        position: absolute;
        inset: 0;
    }
}