.custom-dropdown {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    max-height: 298px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-2);
    overflow-y: auto;
    opacity: var(--opacity);
    visibility: var(--visibility);
    translate: var(--translate-y);
    z-index: 100;
    transition-duration: var(--transition-duration);
}