.new-courses {
    padding: var(--section-padding-y);
    background-color: var(--color-yellow-100);

    @include tablet-s {
        padding: 24px;
    }

    &__list {
        --grid-columns: 4;

        @include desktop {
            --grid-columns: 2;
        }

        @include mobile {
            --grid-columns: 1;
        }
    }
}